{
  "presets": ["@babel/preset-env", "@babel/preset-flow"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    },
    "browser": {
      "presets": ["minify", "@babel/preset-env", "@babel/preset-flow"],
      "comments": false
    }
  }
}
