{
  "extends": "airbnb-base",
  "parser": "@babel/eslint-parser",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "no-bitwise": "off",
    "no-param-reassign": ["error", { "props": false }]
  }
}
