{
  "extends": "airbnb-base",
  "parser": "@babel/eslint-parser",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "no-bitwise": "off",
    "no-param-reassign": ["error", { "props": false }],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.config.js", "**/*.spec.mjs"]
      }
    ],
    "import/no-named-as-default-member": "off",
    "import/extensions": "off"
  }
}
