# General stuff
/node_modules
npm-debug.log

# As the package does not have a single non-dev dependency, package locking
# is somewhat an overkill
package-lock.json

# Transpiled files
/lib

# Coverage reports
/.nyc_output
/coverage
