# General stuff
/node_modules
npm-debug.log

# IDE
/.idea

# Transpiled files
/lib
/dist
/test/types.js

# Minified version of the `qrcode-generator` package. As this package
# is only used for the demo, it could make more sense to build in on the `prepare`
# stage, rather than specify it as the non-dev dependency to the package.
/examples/qrcode.min.js

# GitHub Pages
/.gh-pages

# Coverage reports
/.nyc_output
/coverage
