name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 21.x]

    steps:
      - uses: actions/checkout@v4
      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci
      - run: npm run lint
      - run: npm test
        env:
          CI: true
      - run: npm run cover

      - name: Collect coverage
        if: success() && startsWith(matrix.node-version, '20')
        run: |
          mkdir -p coverage && npm run cover:report --silent -- --reporter=text-lcov > ./coverage/lcov.info
      - name: Coveralls
        uses: coverallsapp/github-action@master
        if: success() && startsWith(matrix.node-version, '20')
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  site:
    needs:
      - build
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: npm ci

      - run: bash ./gh-pages.sh

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: .gh-pages
          single-commit: true
